.cardStyle {
  width: 140px;
  box-shadow: 0 0 4px 4px rgb(220, 220, 220);
  border-radius: 4px;
  margin: 15px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
